cloud/
.env

local/data/mercadolivre/clean/dev/*.csv
local/data/mercadolivre/clean/prod/*.csv

local/data/mercadolivre/raw/dev/*.json
local/data/mercadolivre/raw/prod/*.json

local/data/mercadolivre/shipping_cost_ml/prod/*.json
local/data/mercadolivre/shipping_cost_ml/dev/*.json

local/data/shopee/raw/dev/*.xlsx
local/data/shopee/raw/prod/*.xlsx

local/data/supplies/clean/prod/*.csv

local/data/supplies/clean/prod/*.csv
local/data/supplies/raw/prod/*.csv

local/dbt_files/e_commerce_sales/tests/*
local/dbt_files/logs/*
dbt.log
local/old/

local/scripts/dev-only/

local/dbt/files/logs/
local/dags/logs/

token.json

local/sql/

__pycache__
local/logs/*
local/old/*
records.json
pending_fixes.txt
pending_queries.sql
