cloud/config/
cloud/data/mercadolivre/raw/dev/*.json
cloud/data/mercadolivre/raw/prod/*.json

cloud/data/shopee/clean/dev/*.csv
cloud/data/shopee/clean/prod/*.csv

cloud/data/shopee/raw/dev/*.xlsx
cloud/data/shopee/raw/prod/*.xlsx

cloud/data/supplies/clean/clean_cost_data.csv
cloud/data/supplies/clean/kit_components.csv

cloud/data/supplies/raw/cost_data.csv

cloud/dbt_files/e_commerce_sales/.user.yml
cloud/dbt_files/e_commerce_sales/package-lock.yml

cloud/scripts/extraction/mercadolivre

cloud/scripts/loading/mercadolivre.py

cloud/scripts/loading/using EC2 and redshift.txt

cloud/terraform/create_external_db/

.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup

cloud/pythonpath

.env

venv/

local/data/mercadolivre/clean/dev/*.csv
local/data/mercadolivre/clean/prod/*.csv

local/data/mercadolivre/raw/dev/*.json
local/data/mercadolivre/raw/prod/*.json

local/data/mercadolivre/shipping_cost_ml/prod/*.json
local/data/mercadolivre/shipping_cost_ml/dev/*.json

local/data/shopee/raw/dev/*.xlsx
local/data/shopee/raw/prod/*.xlsx

local/data/supplies/clean/prod/*.csv

local/data/supplies/clean/prod/*.csv
local/data/supplies/raw/prod/*.csv

local/dbt_files/e_commerce_sales/tests/*
local/dbt_files/logs/*
dbt.log
local/old/

local/scripts/dev-only/

local/dbt/files/logs/
local/dags/logs/

token.json

local/sql/

__pycache__
local/logs/*
local/old/*
records.json
pending_fixes.txt
pending_queries.sql
